.navigation {
  border-radius: 3px;
  box-shadow: 0 0 1px #999 inset;
  padding: 12px;
  display: inline-block;
  color: #999999;

  .section {
    .items {
      display: none;
    }
    &.active {
      .items {
        display: block;
      }
    }
    h1 {
      color: #000;
    }
  }

.item {
  cursor: pointer;
  &.active {
    color: red;
  }
}

}

.all {
  display: flex;
}