.page {
  background: rgba(256, 256, 256, .8);
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: 3rem 2rem;
  box-shadow: 1px 1px 6px #999;

  > .flexChild {
    flex: 1 0 32rem;
    padding: 1rem;
  }

  .report {
    font-size: 12px;
    text-align: justify;
    max-width: 480px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      font-size: 13px;
    }
    @media only screen and (min-width: 1280px) {
      font-size: 14px;
    }

  }
  .slideshowContainer {
    flex-grow: 4;
    flex-basis: 50vw;
  }
  h1 {
    font-size: 1.6rem;
    text-align: right;
  }

  h2 {
    font-size: 1.2rem;
  }
}
