.page {
    padding: 12px;
    display: inline-block;
    background: rgba(256,256,256,.6);
    border-radius: .6rem;

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
